<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--        <property name="connection.url">jdbc:mysql://localhost:3306/periodical_edition_system</property>-->
        <!--        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>-->
        <!--        <property name="connection.username">root</property>-->
        <!--        <property name="connection.password">VladYura1Java</property>-->
        <!--        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>-->

        <property name="connection.url">jdbc:h2:mem:library;DB_CLOSE_DELAY=-1</property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="by.library.yurueu.entity.Author"/>
        <mapping class="by.library.yurueu.entity.Book"/>
        <mapping class="by.library.yurueu.entity.BookCopy"/>
        <mapping class="by.library.yurueu.entity.BookDamage"/>
        <mapping class="by.library.yurueu.entity.Genre"/>
        <mapping class="by.library.yurueu.entity.Order"/>
        <mapping class="by.library.yurueu.entity.Role"/>
        <mapping class="by.library.yurueu.entity.User"/>
    </session-factory>
</hibernate-configuration>